@model IEnumerable<TradeYourPhone.Core.Models.PhoneConditionPrice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OfferAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneCondition.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneModel.ModelName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OfferAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCondition.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneModel.ModelName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
