@model TradeYourPhone.Web.ViewModels.PriceScraperViewModel

@{
    ViewBag.Title = "Phone Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/PriceScraperIndex.js"></script>

<h2>Phone Prices</h2>
<form action="" method="post" enctype="multipart/form-data">
    <input type="submit" value="Scrape" class="btn btn-default" />

    <table class="table">
        <tr>
            <th>
                <input type="checkbox" id="checkall" />
            </th>
            <th>
                @Html.DisplayName("Model")
            </th>
            <th>
                @Html.DisplayName("New (Old|New)")
            </th>
            <th>
                New Price +5%
            </th>
            <th>
                @Html.DisplayName("Good (Old|New)")
            </th>
            <th>
                New Price +5%
            </th>
            <th>
                @Html.DisplayName("Faulty (Old|New)")
            </th>
            <th>
                New Price +5%
            </th>
        </tr>

        @for (var i = 0; i < Model.PhoneModels.Count; i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(m => m.PhoneModels[i].Selected)
                </td>
                <td>
                    @Html.DisplayFor(m => m.PhoneModels[i].ModelName)
                    @Html.HiddenFor(m => m.PhoneModels[i].ModelName)
                    @Html.HiddenFor(m => m.PhoneModels[i].ID)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhoneMakeId)
                </td>
                <td>
                    @Html.DisplayFor(m => m.PhoneModels[i].PhonePrices[0].OldAmount)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[0].OldAmount)

                    @if (Model.PhoneModels[i].PhonePrices[0].CompetitorAmount != 0)
                    {
                        <span>|</span> @Html.DisplayFor(m => m.PhoneModels[i].PhonePrices[0].CompetitorAmount)
                        @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[0].CompetitorAmount)
                    }

                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[0].ID)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[0].PhoneModelId)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[0].PhoneConditionId)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[0].PercentageDifference)
                </td>
                <td>
                    @Html.EditorFor(m => m.PhoneModels[i].PhonePrices[0].NewAmount, new { htmlAttributes = new { @class = "price-scraper-price" } })
                </td>
                <td>
                    @Html.DisplayFor(m => m.PhoneModels[i].PhonePrices[1].OldAmount)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[1].OldAmount)

                    @if (Model.PhoneModels[i].PhonePrices[1].CompetitorAmount != 0)
                    {
                        <span>|</span> @Html.DisplayFor(m => m.PhoneModels[i].PhonePrices[1].CompetitorAmount)
                        @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[1].CompetitorAmount)
                    }

                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[1].ID)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[1].PhoneModelId)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[1].PhoneConditionId)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[1].PercentageDifference)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.PhoneModels[i].PhonePrices[1].NewAmount, htmlAttributes: new { @class = "price-scraper-price" })
                </td>
                <td>
                    @Html.DisplayFor(m => m.PhoneModels[i].PhonePrices[2].OldAmount)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[2].OldAmount)

                    @if (Model.PhoneModels[i].PhonePrices[2].CompetitorAmount != 0)
                    {
                        <span>|</span> @Html.DisplayFor(m => m.PhoneModels[i].PhonePrices[2].CompetitorAmount)
                        @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[2].CompetitorAmount)
                    }

                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[2].ID)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[2].PhoneModelId)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[2].PhoneConditionId)
                    @Html.HiddenFor(m => m.PhoneModels[i].PhonePrices[2].PercentageDifference)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.PhoneModels[i].PhonePrices[2].NewAmount, htmlAttributes: new { @class = "price-scraper-price" })
                </td>
            </tr>
        }

    </table>
</form>