@model TradeYourPhone.Core.Models.Phone

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneCondition.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCondition.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneMake.MakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneMake.MakeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneModel.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneModel.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneStatu.PhoneStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneStatu.PhoneStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
